<div class="row">
  <div class="col-md-6">
    <%= render "shared/search", value: @args %>
    <% if @results.empty? %>
      <p>Resultados não encontrados para <strong><%= @args %></strong></p>
    <% else %>
      <p>Resultados para <strong><%= @args %></strong> (<%= @results.count %>):</p>
      <hr/>
    <% end %>
    <% @results.each do |mono| %>
      <div style="margin-bottom: 20px;">
        <h4>
          <%= link_to mono.title, mono_path(id: mono.id) %>
        </h4>
        <em>
          <% if !mono.abstract.empty? %>
            <%= mono.abstract %>
          <% else %>
            (No description) 
          <% end %>
        </em>
      </div>
    <% end %>
    <%= will_paginate @results, renderer: BootstrapPagination::Rails, 
      page_links: false, previous_label: '<<', next_label: '>>' %>
  </div>
</div>
