<% title "Bem-vindo" %>
<div class="jumbotron" style="text-align: center;">
  <h1>
    O maior site de publicações e recursos educativos da rede.
  </h1>
  <p>
    Descubra milhares de trabalhos, monografias e relatórios de estágio premium.
  </p>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "shared/search", value: '' %>
  </div>
</div>
<div class="row">
  <hr/>
  <% if @monos.empty? %>
    <div class="col-md-6">
      <h3>+ Recentes</h3>
      <ul>
        <% @monos.each do |mono| %>
          <li><%= link_to mono.title, mono_path(id: mono.id) %></li>
        <% end %>
        <% if @monos.count > 10 %>
          <li><%= link_to '...', monos_path %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @monos.empty? %>
    <div class="col-md-6">
      <h3>+ Populares</h3>
      <ul>
        <% @monos.order(:counter).reverse_order.each do |mono| %>
          <li><%= link_to "#{mono.title} (#{mono.counter})", mono_path(id: mono.id) %></li>
        <% end %>
        <% if @monos.count > 10 %>
          <li><%= link_to '...', monos_path(sort: :counter) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
