<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong><%= @mono.title %></strong>
      </div>
      <div class="panel-body">
        <%= @mono.abstract %>
      </div>
      <div class="panel-footer">
        <small>
          by <%= @mono.author %> - <%= @mono.year %>
        </small>
      </div>
    </div>
    <div>
      <%= link_to 'Edit', edit_mono_path(@mono), class: "btn btn-primary btn-xs" %>
      <%= link_to 'Download', @mono , class: "btn btn-primary btn-xs" %>
      <%= link_to 'Destroy', @mono, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
    </div>
  </div>
</div>
