<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default" style="padding: 20px;">
            <div class="panel-body">
                <h2>Log in</h2>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <% resource.errors.full_messages.each do |msg| %>
                <%= msg %>
                <% end %>
                <div class="field form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>
                <div class="field form-group">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                </div>
                <div class="actions form-group">
                    <%= f.submit "Entrar", class: "btn btn-primary" %>
                </div>
                <% end %>
                <%= link_to("Esquece a senha?", new_user_password_path) %>
            </div>
        </div>
    </div>
</div>