<% title @course.name %>
<div class="panel panel-default">
  <div class="panel-heading">
    Monografias sobre <strong><%= @course.name %></strong>
    <% if current_user %>
      <%= link_to 'Editar', edit_college_path(@course), class: "btn btn-default btn-xs" %>
      <%= link_to 'Eliminar', @course, method: :delete, data: { confirm: 'Eliminar de verdade?' }, class: "btn btn-danger btn-xs" %>
    <% end %>
  </div>
  <div class="panel-body">
    <% if @monos.empty? %>
      <em>(Sem monografias)</em>
    <% end %>
    <ul>
      <% @monos.each do |mono|%>
        <li><%= link_to mono.title, mono %></li>
      <% end %>
    </ul>
  </div>
  <div style="text-align: center;">
    <%= will_paginate @monos, renderer: BootstrapPagination::Rails %>
  </div>
</div>
